.bookmark {
    background-image : url("/images/comment_clickable_icon.png");
    background-repeat : no-repeat;
    opacity : 0.5;
}
.hover-bookmark {
    background-image : url("/images/comment_clickable_icon.png");
    background-repeat : no-repeat;
    opacity : 1.0;
}

.highlight {
    opacity : 0.2;
    background-color : red;
}

.hover-highlight {
    opacity : 0.4;
    background-color : red;
}

.underline {
    opacity : 0.2;
    background-color : red;
}

.hover-underline {
    opacity : 0.4;
    background-color : red;
}