// MODALS //
.modal {
	border: 1px solid #CCC;
	border-radius: 5px;
	background-image: url("../images/modal-texture.png");
	background-color: #FFF;
	box-shadow: 0px 0px 0px 5px #FFF, 0px 0px 0px 6px #C8C8C8, 0px 6px 20px #000;

	.modal-header {
		text-align: center;
		padding: 5px 15px;
		background-color: rgba(0,0,0,0.02);
		h3 {
			font-size: 14px;
		}

		.closeButton {
			width: 25px;
			height: 25px;
			position: absolute;
			top: 7px;
			right: 5px;
			z-index: 1;

			border: 0;
			color: #F5F5F5;
			background-image: url("../images/close-x.png");
			background-size: 65% 65%;
			background-position: 5px 5px;
			background-repeat: no-repeat;
			background-color: transparent;
			opacity: 0.5;

			&:hover {
				opacity: 0.75;
			}
		}
	}

	.modal-body {
		padding: 0;
	}
}